body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}
.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}
.hero-content{
    text-align: center;
    color: white;
    margin: 150px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px #333;
}